<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Geiser Games</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel|Sacramento">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
  <div class="container-fluid" id="site">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="page-brand"><a href="/">Geiser</a> <small> - seu computador a todo vapor</small></h1>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Inicial <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </nav>


    <div class="row" id="conteudo">
      <!-- Card de detalhes do jogador (esquerda) -->
      <div class="col-md-3">
        <div class="media-list">
          <div class="media player-card-stacked">
            <div class="media-middle" href="#">
              <!-- avatarmedium de jogadores.json -->
              <img src="{{player.avatarmedium}}" class="avatar">
            </div>
            <div class="media-body">
              <!-- steamid e personaname de jogadores.json -->
              <h3 class="media-heading"><a href="/jogador/{{player.steamid}}/">{{player.personaname}}</a></h3>
              <dl class="dl-horizontal">
                <!-- realname de jogadores.json -->
                <dt>Nome real:</dt><dd>{{player.realname}}</dd>
                <!-- loccountrycode de jogadores.json -->
                <dt>País:</dt><dd>{{player.loccountrycode}}</dd>
                <!-- profileurl e personaname de jogadores.json -->
                <dt>Perfil no steam:</dt><dd><a href="{{player.profileurl}}">@{{player.personaname}}</a></dd>
                <!-- totalGames calculado a partir de jogosPorJogador.json (game_count) -->
                <dt>Quantidade jogos:</dt><dd>{{player.totalGames}}</dd>
                <!-- notPlayedCount calculado: jogos com playtime_forever === 0 -->
                <dt>Não jogados:</dt><dd>{{player.notPlayedCount}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <!-- Card de detalhes do jogo mais jogado (direita) -->
      <div class="col-md-9">
        <div class="row-fluid">
          <h2>O jogo favorito</h2>
        </div>
        {{#if favoriteGame}}
        <div class="row-fluid">
          <div class="game-detailed-card media">
            <div class="media-left">
              <!-- URL da logo: http://media.steampowered.com/steamcommunity/public/images/apps/{appid}/{img_logo_url}.jpg -->
              <img src="{{favoriteGame.logoUrl}}" class="game-logo">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{favoriteGame.name}}</h4>
              <dl class="dl-horizontal">
                <!-- playtime_forever em minutos convertido para horas -->
                <dt>Tempo de jogo:</dt><dd>{{favoriteGame.playtime}}</dd>
                <!-- statsUrl só existe se has_community_visible_stats for true -->
                {{#if favoriteGame.statsUrl}}
                <dt>Estatísticas completas:</dt><dd>{{favoriteGame.statsUrl}}</dd>
                {{/if}}
              </dl>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <!-- Lista dos top 5 jogos mais jogados -->
    <div class="row-fluid">
      <div class="col-md-11 col-md-offset-1">
        <div class="row-fluid">
          <h2 class="most-5played-title">Top 5 jogos mais jogados</h2>
        </div>
        <div class="row-fluid">
          <ul class="col-md-12 games-card-list media-list">
            {{#each top5Games}}
            <li class="media game-card">
              <div class="media-left media-middle">
                <!-- URL da logo: http://media.steampowered.com/steamcommunity/public/images/apps/{appid}/{img_logo_url}.jpg -->
                <img src="{{logoUrl}}">
              </div>
              <div class="media-body media-middle">
                <h4>{{name}}</h4>
              </div>
              <div class="media-right media-middle">
                <!-- playtime_forever em minutos convertido para horas -->
                <span class="badge">{{playtime}}</span>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
